{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <title>iix-notes</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <!--<link rel="stylesheet"
    href="https://cdn.concisecss.com/concise.min.css">-->
    <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
    <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
</head>
<body>
    <div>
        <header class="ink-navigation">
            <ul class="menu horizontal black">
                <li class="heading">
                    <a href="/">Home</a>
                </li>
                <li class="heading">
                    <a href="{% url 'wordlist:index' %}">Wordlist</a>
                </li>
                <li class="heading">
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
            </ul>
        </header>


        <main>
            {% if error_message %}
            <p>
                <strong>{{ error_message }}</strong>
            </p>
            {% endif %}

            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
