{% extends 'wordlist/base.html' %}
{% block content %}

<div style="padding: 18px;">
    <div class="">
        <form action="{% url 'wordlist:create' %}" method="post" class="ink-form">
            {% csrf_token %}
            <div class="column-group gutters">
                <div class="control-group all-33">
                    <label id="category">Category</label>
                    <div class="control">
                        <input name="category" for="category">
                    </div>
                </div>

                <div class="control-group all-33">
                    <label id="word">Word</label>
                    <div class="control">
                        <input name="word" for="word">
                    </div>
                </div>

                <div class="control-group all-33">
                    <label id="pronounciation">Pronounciation</label>
                    <div class="control">
                        <input name="pronounciation" for="pronounciation">
                    </div>
                </div>

                <div class="control-group all-100">
                    <label id="translation">Translation</label>
                    <div class="control">
                        <input name="translation" for="translation">
                    </div>
                </div>
            </div>
            <input type="submit" value="Add" class="ink-button green push-right" />
        </form>
    </div>

    {% if object_list %}
    <table class="ink-table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Word</th>
                <th>Translation</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for word in object_list %}
            <tr>
                <td>
                    <div class="uppercase fw-100">
                        <em>{{ word.category }}</em>
                    </div>
                </td>
                <td>
                    <div style="font-size: 2em !important;">
                        <ruby>
                            {{ word.word }}
                            <rt>
                                {{ word.pronounciation }}
                            </rt>
                        </ruby>
                    </div>
                </td>
                <td>
                    <div class="condensed-300">
                        {{ word.translation }}
                    </div>
                </td>
                <td>
                    <form action="{% url 'wordlist:delete' word.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="ink-button red">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>
        <p>No words to display for the given query.</p>
    </div>
    {% endif %}
</div>

{% endblock %}
